<!DOCTYPE html>

<html>

<head>
    <title>About Creator</title>
    <link rel="icon" href="/img/multicloud.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

    <body>  
    <div class="main-content">
        {{>header}}
   
    <p class="paragraph">Darique D. Warren is a Javascript Developer from Harlem, NYC</p>
    <p>His tech philosophy is make it work, then make it look cool</p>
    <p>Enjoy the site </p>

    <img src="/img/tracy-morgan-stubborn.jpg" alt="" class="portrait">
    
    
    
    
    <img class="portrait" src="/img/tracy-morgan-stubborn2.jpg" alt="">
 
    </div>    
    
    
 <p class="paragraph">This app was created using mapcode api & and weatherstack api </p>
     <a href="https://github.com/dariquewarren/harlem-weather-app">PROJECT CODE</a>
    {{>footer}}
  
</body>

</html>