<!DOCTYPE html>

<html>

<head>
    <title>About Creator</title>
    <link rel="icon" href="/img/multicloud.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

    <body>  
    <div class="main-content">
        {{>header}}
   
    <p>Darique D. Warren is a Javascript Developer from Harlem, NYC</p>
    <p>His tech philosophy is make it work, then make it look cool.</p>
    <p>Enjoy the site. Put in every location you can find on a map!</p>

    <img src="/img/tracy-morgan-stubborn.jpg" alt="" class="portrait">
    
    
    
    
    <img class="portrait" src="/img/tracy-morgan-stubborn2.jpg" alt="">
 
    </div>    
    
    
 <p>This app was created using mapcode api & and weatherstack api </p>
    <p></p>   
    {{>footer}}
  
</body>

</html>